{% extends 'base.html' %}

{% block h1 %} Detalles del Libro {% endblock %}
{% block bg %}https://wallpaperaccess.com/full/2964938.jpg{% endblock %}
{% block content %}
        <div class="row justify-content-center">
            <div class="jumbotron col-md-5 bg-light" style="opacity:0.8">
                <h1 class="display-4 my-2">{{book.title}}</h1>
                <h4 class="my-2 mx-2">ID: {{book.id}}</h4>
                <hr class="my-2 mx-2">
                <p class="lead my-2 mx-2">{{book.desc}}</p>
                <p class="lead my-2 mx-2">Authors:</p>
                {% for author in book.authors.all %}	
                    <li class="fs-5 text-start mx-5"><em>{{author.first_name}} {{author.last_name}} <a href="/delete/{{author.id}}/{{book.id}}" class="btn btn-danger">x</a></em></li>
                {% endfor %}
                <br>	
            </div>
            <div class="col-md-5 bg-dark text-center" style="opacity:0.8">
                <h2 class="fs-1 text-light my-4">Add an Author</h2>
                <form method="POST" action="/add_author" class="row justify-content-center my-5">
                {% csrf_token %}
                <div class="col-auto">
                    <input class="form-control d-none" type="hide" value="{{book.id}}" aria-label="readonly input example" readonly name="bookid">
                    <select class="form-select" aria-label="Default select example" name="id" required>
                        <option selected>Open this select menu</option>
                        {% for author in authors %}
                            {% if author not in book.authors.all%}
                                <option value="{{author.id}}">{{author.first_name}} {{author.last_name}}</option>
                            {% else %} 
                                <option value="{{author.id}}" disabled>{{author.first_name}} {{author.last_name}}</option>
                            {% endif%}
                        {% endfor %} 
                    </select>
                </div>
                <div class="col-auto">
                    <input class="btn btn-success btn-lg" type="submit" value="Add the new Author">
                </div>
                </form>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-auto my-5"><a class="btn btn-warning btn-lg" href="/books" role="button">Volver</a></div>
        </div>
    </body>
</html>
{% endblock %}